<ion-header>
  <ion-toolbar>
    <ion-title>Select Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input
      placeholder="Search location"
      [(ngModel)]="searchAddress"
      (keyup.enter)="searchLocation()"
      clearInput
    ></ion-input>
    <ion-button (click)="searchLocation()" slot="end">Search</ion-button>
  </ion-item>

  <div #map id="map" style="height: 400px;"></div>

  <ion-footer>
    <ion-button expand="block" (click)="confirmLocation()">Confirm Location</ion-button>
    <ion-button expand="block" fill="clear" (click)="cancel()">Cancel</ion-button>
  </ion-footer>
</ion-content>
